.container-fluid{ 
    font-size: x-large;
    opacity: 100%;
}
.backgroundpic{
    background-image: url(pic1.png);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-color: black;
    background-size: contain;
    height: 200px;
} 
body{
    padding-top: 75px;
}

.home{
    font-size: larger;
    background-color: white;
    
    font-weight: bolder;
    margin-top:  200px;
}
.top{
    background-color: white ;
    opacity: 60%;
}

.footer{
    margin-top: 200px;
    opacity: 55%;
}
.picture1{
    background-image: url(pic1.png);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-color: black;
    background-size: contain; 
}
.top1{
    background-color: azure;
    opacity: 70%;
}

.container3{
    margin-top: none;
    font-size: larger;
    font-weight: bold ;
    background-size: contain;
    height: 300px;
}
.heading{
    font-size: x-large;
    font-weight: bolder;
    columns: white;
}
.carousel-inner img{
     max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;

}
.nav-link{
    font-weight: bolder;
    color: black;
}
   
#container3{
    margin-top: none;
    margin-bottom: 40px;
    opacity: 100%;
    background-image: url(picE.jpg); 
    object-fit: fill;
    background-repeat: no-repeat;
    object-position: center;
    width: 70%;
    
    
}
.picd{
    height: fit-content;
    width: fit-content;
    
   
}
.title{
    color: white;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke-color: azure;
    text-shadow: 70px;
    
}

.services{
    font-weight: bolder;
    font-size: xx-large;
}
.li3{
    font-weight: bold;
    color: white;
    text-shadow: 10px;

}
    
.card-body{
    bottom: 0;
}
.anytime{
    margin-left: 200px;
}
.ggup{
    width: 70%;
    height: 300px;
    
}
.col-md-6{
    color: white;
    margin-top: 30px;
    box-align: top;
}
.container4{
    align-items: top;
    margin-top: 30px;
    object-position: top;

}
.A1{
    color: black;
}
.A2{
    color: black;
}
.A3{
    color: black;
}
.footer-sticky{
    background-color: white;
    height: 300px;
    opacity: 60%;
    margin-top: 40px;
    
}
.gg3{
    margin-top: 20px;
    opacity: 80%;
    background-image: url(pic26.PNG); 
    object-fit: fill;
    background-repeat: no-repeat;
    width: 100%;    
}
.gg4{
    font-weight: bolder;
    background-color: grey;
    color: black;
    opacity: 70%;
    font-size: large;
}
.heading{
    font-weight: bolder;
    color: white; 
  
}
.number{
    margin-top: 5px;
    font-size: larger;
}
.newC{
    font-size: medium;
}

.ggdown{
    margin-top: none;
    margin-bottom: 0px;
   height: 400px;
}