.container-fluid{ 
    font-size: x-large;
    opacity: 100%;
}
.backgroundpic{
    background-image: url(pic1.png);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-color: black;
    background-size: contain;
    height: 200px;
} 
body{
    padding-top: 75px;
}

.home{
    font-size: larger;
    background-color: #00c2ff;
    opacity: 90%;
    font-weight: bolder;
    margin-top:  200px;
}
.top{
    background-color: #00C2FF26 ;
}

.footer{
    margin-top: 200px;
    opacity: 55%;
}
.picture1{
    background-image: url(pic1.png);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-color: black;
    background-size: contain; 
}
.top1{
    background-color: azure;
    opacity: 70%;
}

.container3{
    margin-top: none;
    font-size: larger;
    font-weight: bold ;
    background-size: contain;
    height: 300px;
}
.heading{
    font-size: x-large;
    font-weight: bolder;
}
.carousel-inner img{
     max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;

}
.nav-link{
    font-weight: bolder;
    color: aliceblue;
}
   
#container3{
    margin-top: none;
    opacity: 55%;
    background-image: url(picE.jpg); 
    object-fit: fill;
    background-repeat: no-repeat;
    
    width: 100%;
    
    
}
.picd{
    height: fit-content;
    width: fit-content;
    
   
}
.title{
    color: rgb(11, 187, 241);
    font-weight: 900;
    
    text-align: center;
    font-weight: bolder;
}

.services{
    font-weight: bolder;
    font-size: xx-large;
}
.li3{
    font-weight: bold;
    color: rgb(16, 214, 240);
}
    
.card-body{
    bottom: 0;
}
.anytime{
    margin-left: 200px;
}
.ggup{
    width: 500px;
    height: 250px;
    margin-top: 25px;
    margin-bottom: 25px; ;
}
.col-md-6{
    color: white;
    margin-top: 25px;
}
.A1{
    color: white;
}
.A2{
    color: white;
}
.A3{
    color: white;
}
.footer-sticky{
    background-color: black;
    height: 400px;
}
.gg3{
    margin-top: 20px;
    opacity: 80%;
    background-image: url(pic26.PNG); 
    object-fit: fill;
    background-repeat: no-repeat;
    width: 100%;    
}
.gg4{
    font-weight: bolder;
    background-color: grey;
    color: black;
    opacity: 70%;
    font-size: large;
}
.heading{
    font-weight: bolder;
    color: aliceblue; 
  
}
.number{
    margin-top: 5px;
    font-size: larger;
}